@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

h1{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
}

.one{
    background-color: #b3b5d1;
}

.two{
    background-color: aliceblue;
}

.three{
    background-color: lightpink;
    flex-direction: column;
}

.four{
    background-color: plum;
}

button{
    border: none;
    background-color: #FFD6D8;
    color: black;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}
button:hover{
    border: none;
    background-color: #d38a8d;
    color: white;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}
