@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@200&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container {
    /* each section snaps to the screen when you scroll */
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

h1 {
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
}

.one {
    background-color: plum;
}

.two {
    background-color: rgb(255, 243, 199);
}

.three {
    background-color: lightpink;
    flex-direction: column;
}

.random:hover {
    height: 420px;
    width: 420px;
}

.activity-info {
    padding: 20px;
    bottom: -100px;
}
