@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

h1{
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
}

.one{
    background-color: plum;
}

.two{
    background-color: rgb(97, 180, 235);
}

.three{
    background-color: lightpink;
    flex-direction: column;
}

.four{
    background-color: rgb(162, 172, 252);
}


img:hover{
height: 140px;
width: 140px;   
}

.random:hover{
    height: 420px;
    width: 420px;
}

.activity-info{
    background-color:#fcf1a7;
    padding: 20px;
    bottom: -100px;
}

